<mat-expansion-panel expanded="true">
    <mat-expansion-panel-header class="create">
            Create a new role
    </mat-expansion-panel-header>
    <form [formGroup]="newRoleForm">
        <mat-form-field appearance="standard">
            <input matInput placeholder='Role name' formControlName="role" />
        </mat-form-field>
        <button mat-button (click)="createRole()" class="submit-button">Create</button>
    </form>
</mat-expansion-panel>
<mat-expansion-panel expanded="true">
    <mat-expansion-panel-header class="create">
            Create a new permission
    </mat-expansion-panel-header>
    <form [formGroup]="newPermissionForm">
        <mat-form-field appearance="standard">
            <input matInput placeholder='Permission description' formControlName="permission" />
        </mat-form-field>
        <button mat-button (click)="createPermission()" class="submit-button">Create</button>
    </form>
</mat-expansion-panel>
<mat-expansion-panel class="list" (opened)="getRoles()">
    <mat-expansion-panel-header>
            Role List
    </mat-expansion-panel-header>
    <ng-container *ngFor="let role of roles">
        <mat-card>
            <mat-card-header>
              <mat-card-title>{{role.description | uppercase}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ng-container *ngFor="let perm of role.permission">
                    <div>{{perm.description}}
                    </div>
                </ng-container>
                 </mat-card-content>
            <mat-card-actions>
              <button mat-button color="primary" (click)="change(role)">Change permissions</button>
            </mat-card-actions>
          </mat-card>
    </ng-container>
</mat-expansion-panel>
