.list-item {
    margin: 10px;
}
.mat-expansion-panel.mat-expanded.list,
.mat-expansion-panel-header.mat-expanded.create {
    background: #4682B4;
    color: white;
}

.mat-expansion-panel-header{
    font-size: 18px;
}
.mat-form-field input {
    margin-right: 10px;
}

.role-radio-button {
    margin: 5px;
  }
  .submit-button {
    background-color: #DB7093;
    color: white;
    align-content: flex-end;
    width: 15%;
    font-size: 20px;
    font-weight: 500;
    margin-top: 32px;
}
.list {
    width: 100%;
}
::ng-deep .list .mat-expansion-panel-body  {
    display: flex;
}
:host::ng-deep mat-card{
    width: 30%;
    display: block;
    justify-content: space-between;
}