<div class="login">
    <div class="w-50 form-container">
        <div class="login-title">
            <h2>Welcome to <br><strong>UBB </strong>
                <br>login page</h2>
        </div>
        <form [formGroup]="loginForm" class="login-form">
            <mat-form-field appearance="standard">
                <input matInput class="login-input" placeholder='Username' formControlName="username" />
            </mat-form-field>
            <mat-form-field appearance="standard">
                <input matInput class="login-input" type='password' placeholder='Password' formControlName="password" />
            </mat-form-field>
            <mat-error *ngIf="loginForm.hasError('badCredentials')">
                Incorrect username or password
            </mat-error>
            <button mat-button class="submit-button" (click)="submit()">SUBMIT</button>
        </form>
    </div>
    <div class="background w-50">

    </div>
</div>