.form-container {
    margin-top: 10%;
}
mat-form-field {
    display: block;
    margin: auto;
    width: 50%;
    input {
        width: 50%;
        text-align: left;
    }
}
.submit-button {
    background-color: #DB7093;
    color: white;
    width: 50%;
    font-size: 20px;
    font-weight: 500;
    margin-top: 32px;
}

.login {
    display: flex;
    height: 100%;
}
.login-form {
    width: 100%;
    text-align-last: center;
}
.login-title {
    width: 50%;
    font-size: 42px;
    color: #4682B4;
    margin-right: auto;
    margin-left:auto;
    text-align: center;
}
.background {
    background-image: url('../../assets/ubb.jpg');
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
}
.w-50 {
    width: 50%;
}