<mat-toolbar color="primary">
	UBB Admin
</mat-toolbar>

<nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let link of links"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [routerLinkActiveOptions]="{exact:true}"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>

  <router-outlet></router-outlet>
  <!--
<mat-expansion-panel class="list">
    <mat-expansion-panel-header>
        <mat-panel-title>Roles
        </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let role of roles">
        <div class="list-item">
            {{role.description}}
        </div>
    </ng-container>
</mat-expansion-panel>

-->