.list-item {
    margin: 10px;
}
.mat-expansion-panel.mat-expanded.list,
.mat-expansion-panel-header.mat-expanded.create {
    background: #4682B4;
    color: white;
}
.mat-form-field input {
    color: white;
    margin-right: 10px;
}

.role-radio-button {
    margin: 5px;
  }
  .submit-button {
    background-color: #DB7093;
    color: white;
    align-content: flex-end;
    width: 25%;
    font-size: 20px;
    font-weight: 500;
    margin-top: 32px;
}