<div class="container">
    <app-user-details title="Student Details" class="flex-item"></app-user-details>

    <mat-card class="courses-container flex-item">
        <mat-card-header>
            <mat-card-title>My courses</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="courseList.length === 0">No courses</div>
            <div *ngFor = "let course of courseList">
                {{course.name}}
            </div>
        </mat-card-content>
    </mat-card>
</div>
