.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90%;
    background-image: url(../../../assets/student-home.jpg);
}

.flex-item {
    width: 40%;
    margin: 2%;
}

.courses-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px rgb(22, 9, 197), 
                0 1px 1px 0 rgb(22, 9, 197), 
                0 1px 3px 0 rgb(22, 9, 197);
}