<mat-card class="flex-container">
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="flex-item">
            <div class="label">First name:</div>
            <div class="content">{{userDetails?.firstName}}</div>
        </div>
        <div class="flex-item">
            <div class="label">Last name:</div>
            <div class="content">{{userDetails?.lastName}}</div>
        </div>
        <div class="flex-item">
            <div class="label">Email:</div>
            <div class="content">{{userDetails?.email}}</div>
        </div>
        <div class="flex-item">
            <div class="label">Username:</div>
            <div class="content">{{userDetails?.credentials.username}}</div>
        </div>
    </mat-card-content>
</mat-card>