.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-item {
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 10px;
}

.label {
    font-weight: bold;
    width: 50%;
}

.content {
    width: 50%;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px rgb(22, 9, 197), 
                0 1px 1px 0 rgb(22, 9, 197), 
                0 1px 3px 0 rgb(22, 9, 197);
}