<mat-expansion-panel expanded="true">
    <mat-expansion-panel-header class="create">
            Create a new user
    </mat-expansion-panel-header>
    <form [formGroup]="newUserForm">
        <mat-form-field appearance="standard">
            <input matInput placeholder='First Name' formControlName="firstName" />
        </mat-form-field>
        <mat-form-field appearance="standard">
            <input matInput placeholder='Last Name' formControlName="lastName" />
        </mat-form-field>
        <mat-form-field appearance="standard">
            <input matInput placeholder='E-mail Address' formControlName="email" />
        </mat-form-field>
        <mat-form-field appearance="standard">
            <input matInput placeholder='Username' formControlName="username" />
        </mat-form-field>
        <mat-form-field appearance="standard">
            <input matInput placeholder='Password' formControlName="password" />
        </mat-form-field>
        <mat-radio-group>
            <mat-radio-button class="role-radio-button"  *ngFor="let role of roles" [value]="role.roleId">
                {{role.description}}
            </mat-radio-button>
        </mat-radio-group>
        
        <button mat-button (click)="submit()" class="submit-button">Create</button>
    </form>
</mat-expansion-panel>
<mat-expansion-panel class="list" (opened)="getUsers()">
    <mat-expansion-panel-header>
            <div>User List</div>
            <div><input matInput placeholder="Search..." [(ngModel)]="search" (keydown)="filter($event)"></div>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let user of filteredusers">
        <mat-card>
            <mat-card-header>
              <mat-card-title>{{user.email}}</mat-card-title>
              <mat-card-subtitle>{{user.credentials.role.description | uppercase}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                Account created: {{user.dateCreated}}
                <br>
                Account created by: ubbadmin1
                <br>
                Last login: {{user.credentials.lastLogin ? (user.credentials.lastLogin | date: 'short') : '-' }}
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="changeRole(user)">Change permissions</button>
            </mat-card-actions>
          </mat-card>
    </ng-container>
</mat-expansion-panel>
