<h4>Change permissions for role: {{selectedRole.description}}</h4>
<div *ngFor="let perm of roles" style="display: block;">
    <mat-checkbox [value]="perm" style="width: 100%;"
    [checked]="isChecked(perm.permissionId)">{{perm.description}}</mat-checkbox>
</div>
<div style="margin-top: 40px; display: flex; justify-content: space-evenly;">
<button mat-flat-button color="primary" (click)="change()">Change</button>

<button mat-flat-button (click)="close()">Cancel</button>

</div>
