<div class="div">
    <div class="top-btn-container">
        <button class="btn-left" mat-raised-button (click)="batchUpdateRequests('Denied')" [disabled]="noneSelected()" color="warn">Deny selected</button>
        <button class="btn-right" mat-raised-button (click)="batchUpdateRequests()" [disabled]="noneSelected()" color="primary">Approve selected</button>
    </div>
    <div class="mat-elevation-z8 flex-container">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox color="primary" (click)="$event.stopPropagation" (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox color="primary" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container *ngFor="let column of columnDef" [matColumnDef]="column.field">
                <th mat-header-cell *matHeaderCellDef>{{column.headerName}}</th>
                <td mat-cell *matCellDef="let row">
                    <ng-container *ngIf="column.field !== 'requestDate'">
                        {{readProperty(row, column.field)}}
                    </ng-container>
                    <ng-container *ngIf="column.field === 'requestDate'">
                        {{readProperty(row, column.field) | date: 'short' }}
                    </ng-container>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
    </div>

</div>