.div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    background-image: url(../../../assets/student-home.jpg);
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.flex-item {
    margin-top: 10px;
}
::ng-deep .card-container {
    height:50%;
    width: 50%;
}

table {
    width: 100%;
}

mat-paginator {
    width: 100%;
}

.top-btn-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 20%;
    width: 100%;
    justify-content: space-between;
}

.btn-left {
    margin-left: 5%;
}

.btn-right {
    margin-right: 5%;
}