::ng-deep html, ::ng-deep body {
    font-size: 20px;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
::ng-deep mat-error{
    margin-top: 2px;
    color: red !important;
}