<div class="div">
  <label id="labela" class="flex-item"></label>
  <div class="mat-elevation-z8 flex-container">
    <table mat-table [dataSource]="dataSource">
      <ng-container *ngFor="let column of columnDef" [matColumnDef]="column.field">
        <th mat-header-cell *matHeaderCellDef>{{column.headerName}}</th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="column.field !== 'requestDate'">
            {{readProperty(row, column.field)}}
          </ng-container>
          <ng-container *ngIf="column.field === 'requestDate'">
            {{readProperty(row, column.field) | date: 'short' }}
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>

</div>