.container {
    position: relative;
    height: 90%;
    background-image: url(../../../assets/student-home.jpg);
}

.container img {
    width: 100%;
    height: 100%;
}

.sign-out-button {
    position: absolute;
    top: 2%;
    left: 92%;
    width: 7%;
}