.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90%;
    background-image: url(../../../assets/student-home.jpg);
}

.card-container {
    margin: 5%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-item {
    margin-top: 10px;
}

.radio-group {
    display: flex;
    flex-direction: column;
}

.radio-button {
    margin-top: 10px;
}

::ng-deep .card-container {
    width: 30%;
}

table, mat-paginator {
    width: 120%
}