<div class="container">
    <mat-card class="card-container">
        <mat-card-header>
            <mat-card-title>Submit a request</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="flex-container">
                <label id="select-request-type-label" class="flex-item">Select type of the request</label>
                <mat-radio-group (change)="onChange($event)" color="primary" class="flex-item radio-group"
                    aria-labelledby="select-request-type-label" formControlName="type">
                    <mat-radio-button class="radio-button" *ngFor="let rtp of requestTypeOptions" [checked]="rtp.checked" [value]="rtp.key">{{rtp.value}}</mat-radio-button>
                </mat-radio-group>

                <mat-form-field class="flex-item" *ngIf="otherSelected">
                    <input matInput placeholder="Please specify" formControlName="other">
                </mat-form-field>

                <mat-form-field class="flex-item" *ngIf="!otherSelected">
                    <mat-label>Course</mat-label>
                    <mat-select formControlName="course">
                        <mat-option *ngFor="let course of courseList" [value]="course">{{course.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button class="flex-item" mat-raised-button type="submit" color="primary">Submit</button>
            </form>
        </mat-card-content>
    </mat-card>

    <div class="mat-elevation-z8 flex-container">
        <table mat-table [dataSource]="dataSource">
            <ng-container *ngFor="let column of columnDef" [matColumnDef]="column.field">
                <th mat-header-cell *matHeaderCellDef>{{column.headerName}}</th>
                <td mat-cell *matCellDef="let row">
                    <ng-container *ngIf="column.field !== 'requestDate'">
                        {{readProperty(row, column.field)}}
                    </ng-container>
                    <ng-container *ngIf="column.field === 'requestDate'">
                        {{readProperty(row, column.field) | date: 'short' }}
                    </ng-container>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
    </div>
</div>