<h4>Change role for {{user.credentials.username}}</h4>
<ng-container>
    <mat-radio-group class="group" [(ngModel)]="selectedRole">
        <mat-radio-button class="role-radio-button"  
        *ngFor="let role of roles" [value]="role" 
        [checked]="user.credentials.role.roleId == role.roleId">
            {{role.description}}
        </mat-radio-button>
    </mat-radio-group>
</ng-container>
<div style="margin-top: 40px; display: flex; justify-content: space-evenly;">
<button mat-flat-button color="primary" (click)="change()">Change</button>

<button mat-flat-button (click)="close()">Cancel</button>

</div>
